.container1 {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.skills-category {
    margin-bottom: 40px;
}

.skills-category h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3498db;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #3498db;
}

.skill h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
}

.skill p {
    font-size: 1rem;
    color: #777;
}
