.container1 {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.skills-category {
    margin-bottom: 40px;
}

.skills-category h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3498db;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #3498db;
}

.skill h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
}

.skill p {
    font-size: 1rem;
    color: #777;
}


/* Media query for tablets and smaller desktops */
@media (max-width: 1024px) {
    .skill {
        width: calc(50% - 20px);
    }

    h1 {
        font-size: 2rem;
    }

    .skills-category h2 {
        font-size: 1.75rem;
    }
}

/* Media query for mobile devices (landscape mode) */
@media (max-width: 768px) {
    .skill {
        width: calc(50% - 20px);
        padding: 15px;
    }

    h1 {
        font-size: 1.75rem;
    }

    .skills-category h2 {
        font-size: 1.5rem;
    }

    .skill h3 {
        font-size: 1.25rem;
    }

    .skill p {
        font-size: 0.9rem;
    }
}

/* Media query for mobile devices (portrait mode) */
@media (max-width: 480px) {
    .skills-grid {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .skills-category h2 {
        font-size: 1.25rem;
    }

    .skill h3 {
        font-size: 1.1rem;
    }

    .skill p {
        font-size: 0.85rem;
    }
}
